@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
    
/* copy eveyrhting */
*{
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto;
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.card p {
  margin: 10px 0;
  color: #666;
}

.card a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.card-1, .card-2, .card-3{
margin: 10px;

}


/* BUTTONS */

.btn{
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 200px;
  margin: 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-1{
  background-color: white;
 
  border: 2px solid #567fe7;
  align-items: center;
  text-align: center;
}

.btn-2{
  background-color: white;
  color: black;
  border: 2px solid #567fe7;
  align-items: center;
  text-align: center;
}
.btn-3{
  background-color: white;
  color: black;
  border: 2px solid #567fe7;
  align-items: center;
  text-align: center;
}
.btn-1:hover, .btn-2:hover, .btn-3:hover {
  background-color: #9C9AFF;
  
}

a {
 color: #241D2A;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  
  text-decoration:none; 
  cursor:pointer;  
}

/* 

<!-- #9C9AFF light -->
<!-- #567fe7  blur -->

*/

/* HEADER/NAV-BAR */

.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content:center;
  align-items: center; 
  font-family:'Times New Roman', Times, serif;
  font-size: 500%;
 
  }

  .header hr{
      justify-content: center;
      align-self: center;
      display: flex;
      width: 90%;
      margin-left: 6%;
    
      height: 1mm;
  }

  
  .header-container {
    color: #5995DA;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    }

    /* FOOTER */

    /* <!-- #9C9AFF light -->
<!-- #567fe7  blur --> */

    footer{
     
    background-color: #241D2A;
      height: auto;
      width: 100vw;
      font-family: 'Times New Roman', Times, serif;
      padding-top: 40px;
      color:#9C9AFF;
  }
  
  .footer-container{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
  }
  
  .footer-container h3{
      font-size: 1.8rem;
      font-weight: 400;
      text-transform: capitalize;
      line-height: .1rem;
  }
  
  .footer-container p{
      max-width: 100%;
      /* margin: 10px auto; */
      line-height: 28px;
      font-size: 14px;
  }
  
  /* ICONS */
  .socials{
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0 3rem 0;
  }
  
  .socials li{
      margin: 0 10px;
  }
  
  .socials a{
      text-decoration: none;
      color: #9C9AFF;
  }
  
  .socials a i{
      font-size: 1rem;
  }
  
  .footer-bottom{
      background: #9C9AFF;
      color: #241D2A;
      width: 100vw;
      padding: 20px 0;
      text-align: center;
      
  }
  
  .footer-bottom p{
      font-size: 14px;
      word-spacing: 2px;
      text-transform: capitalize;
  }
  
  .footer-bottom span{
      text-transform: uppercase;
      font-weight: bold;
      opacity: .7;
      font-weight: 200;
  }

  /* end of footer */