@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
    
    *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    }

    .menu-container {
        width: 100vw;
        height: auto;
        background-color: #AD0018;
        overflow: hidden;
        display: flex;
        justify-content: center; 
    }

    .faq-image{
        width: 30%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        
      }

    .menu-container a {
        float: left;
        color: #FF9AA4;
        justify-self: center;
        padding: 1% 1%;
        display: flex;
        text-decoration: none;
        font-size: 100%px;
      }
      
      /* Change the color of links on hover */
      .menu-container a:hover {
        background-color: #ddd;
        color: black;
      }
      
      /* Add a color to the active/current link */
      .menu-container a.active {
        background-color: #FF9AA4;;
        color: #AD0018;
      }

      .badge{
        width: 7%;
        height: auto;
        }
/*----------------------MENU END----------------*/        

     .header-container {
        color: #5995DA;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        }
   
      .header {
        width: 100%;
        height: auto;
        display: flex;
        justify-content:center;
        align-items: center; 
        font-family:'Times New Roman', Times, serif;
        font-size: 300%;
        color: #AD0018;
        }

        .header hr{
            justify-content: center;
            align-self: center;
            display: flex;
            width: 90%;
            margin-left: 6%;
            background-color: #AD0018;
            height: 1mm;
        }

  /*       .subheading{
           width: 100%;
           height: auto;
           display: flex;
           justify-content: center;
           color: #AD0018; 
           font-size:3vw;
        }

        .section-container{
            width: 100%;
           height: auto;
            color: #5995DA;
            background-color: #ffffff;
            flex-wrap: nowrap;
            display: flex;
            font-size: 100%;
            justify-content:space-around;
            align-items: center;
        }

        .section{
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: nowrap;
                contain: content;
                padding-left: 15%;
                justify-content:space-around;
                align-items:center; 
                font-family:'Times New Roman', Times, serif;
                font-size:2vw;
                color: #AD0018;
                
        }

        .sect-right{
            width: 50%;
            height: auto;
            flex-wrap: nowrap;
            padding-right: 15%;
            align-items: center;
            background-color: #C9D4DD;
            justify-content: space-around;
            align-content: flex-start;
        }

        .sect-left{
            flex: 50%;
            flex-wrap: nowrap;
            justify-content: space-around;
        }*/
/*----------------------SECTION END----------------*/ 
        @media (max-width: 800px) {
  .sect-right, .sect-left {
    flex: 100%;
  }
}

.map-image{
  width: 100%;
  height: auto;
  display: flexbox;
}

.faq-image{
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15%;
  
}

.fieldset{
    border: 1px solid #FF9AA4;
}

html{
    font-family:'Times New Roman', Times, serif;
    font-size: 10px;
    box-sizing: border-box;
}

/*Section used for centering process*/

section{
    width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    display:flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.accordion-item{
    background-color: #AD0018;
    border-radius: 1ssrem;
    
    margin: 1rem;

    box-shadow: .5rem 2px .5rem rgba(0, 0, 0, .1);
}

.accordion-link{
    font-size: 1.6rem;
    color: #FF9AA4;
    text-decoration: none;
    background-color: #AD0018;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem ;
}

.accordion-link i{
    color: #ff5f5fcc;
    padding: .5rem;
}

.accordion-link .ion-md-remove{
    display: none;
}

.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #ffffffcc;
    transition: max-height 350ms;
}

.answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #FF9AA4;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p{
    color: rgba(0, 0, 0, .6);
    font-size: 1.4rem;
    padding: 2rem;
}

.accordion-item:target .answer{
    max-height: 20rem;
}

.accordion-item:target .accordion-link .ion-md-add{
    display: none;
}

.accordion-item:target .accordion-link .ion-md-remove{
    display: block;
}

.social-image{
    width: 5%;
}

/*----------------------ACCORDIAN END----------------*/ 

footer{
    background: #AD0018;
    height: auto;
    width: 100vw;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 40px;
    color: #FF9AA4;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-container h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: .1rem;
}

.footer-container p{
    max-width: 100%;
    /* margin: 10px auto; */
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #FF9AA4;
}

.socials a i{
    font-size: 4.1rem;
}

.footer-bottom{
    background: #FF9AA4;
    color: #AD0018;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    font-weight: bold;
    opacity: .7;
    font-weight: 200;
}

/*----------------------FOOTER END----------------*/ 

.section-contain{
    justify-content: center;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.section-contain h4{
    align-content: center;
    justify-content: center;
    display: flex;
    font-size: 3vw;
    color: #AD0018;
}

.section-contain hr{
    justify-content: center;
    align-self: center;
    display: flex;
    width: 25%;
    margin-left: 37%;
    background-color: #AD0018;
    height: 1mm;
}

/*----------------------FIND US END----------------*/ 

body{
    background: #AD0018;
    font-family: 'Times New Roman', Times, serifs;
}

.contactUs{
    position: relative;
    width: 100%;
    padding: 2.5rem 2.5rem;
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../Image/landscape_view_of_mountains_red_moon_sky_background_reflection_on_water_hd_red.jpg");
    background-repeat: no-repeat;
    width: 100%;
}

.contactUs .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.contactUs .title h2{
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.form{
    grid-area: form;
}

.info{
    grid-area: info;
}

.map{
    grid-area: map;
}

.contact{
    padding: 2.5rem;
    background: white;
    box-shadow: 0.35rem 0.35rem 0.35rem rgba( 0, 0, 0, 0.20);
}

.box{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
     "form info"
     "form map";
     grid-gap: 1.5rem;
     margin-top: 2.5rem;
}

.contact h3{
    color: #AD0018;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
}

.formBox{
    position: relative;
    width: 100%;
}

.formBox{
    font-size: large;
}

.formBox .row50{
    display: flex;
    gap: 2.5rem;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100%;
}

.formBox .row100 .inputBox{
    width: 100%;
}

.inputBox span{
    color: #FF9AA4;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.inputBox input{
    padding: 0.5rem;
    font-size: 0.75rem;
    outline: none;
    border: 0.1rem solid #AD0018;
}

.inputBox textarea{
    padding: 0.5rem;
    font-size: 0.75rem;
    outline: none;
    border: 0.1rem solid #AD0018;
    padding: 0.5rem;
    font-size: 0.75rem;
    resize: none;
    min-height: 13.75rem;
    margin-bottom: 1rem;
}

.inputBox input[type="submit"]{
    background: #AD0018;
    color: #FF9AA4;
    border: none;
    font-size: 1.1rem;
    max-width: 15vw;
    font-weight: 500;
    cursor: pointer;
    padding: 0.75rem 0.5rem;
}

.inputBox ::placeholder{
    color: #FF9AA4;
}

.info{
    background: white;
}

.info .inputBox div{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.info .inputBox div span{
    min-width: 40px;
    height: 40px;
    color: #FF9AA4;
    background-color: #AD0018;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p{
    color: #AD0018;
    font-size: 1.1em;
}

.info .infoBox div a{
    color: #FF9AA4;
    text-decoration: none;
    font-size: 1.1em;
}

.sci{
    margin-top: 2.5rem;
    display: flex;
}

.sci li{
    list-style: none;
    margin-right: 1rem;
}

.sci li a{
    color: white;
    font-size: 2em;
    color: #AD0018;
}

.sci li a:hover{
    color: #FF9AA4;
}

.map{
    padding: 0;
    min-height: 300px;
}

.map iframe{
    width: 100%;
    height:100%;
}

/*Responsive Code*/

@media (max-width: 700px){
    body{
        background: #AD0018;
    }

    .contactUs{
        padding: 1.5rem;
    }

    .box{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
         "form" 
         "info"
         "map";
         grid-gap: 1.5rem;
         margin-top: 2.5rem;
    }

    .map{
        min-height: 300px;
    }

    .formBox .row50{
        display: flex;
        gap: 2.5rem;
        flex-direction: column;
    }

    .inputBox{
        width: 100%;
    }
}

